{
  "tabWidth": 4,
  "useTabs": false,
  "overrides": [
      {
          "files": "*.html",
          "options": {
              "tabWidth": 2,
              "singleAttributePerLine": false,
              "htmlWhitespaceSensitivity": "css",
              "bracketSameLine": true,
              "printWidth": 120
          }
      }
  ]
}