{
  "tabWidth": 4,
  "useTabs": false,
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css",
  "bracketSameLine": true,
  "printWidth": 120,
  "overrides": [
      {
          "files": "*.html",
          "options": {
              "tabWidth": 2
          }
      }
  ]
}